<!-- Section A: Register -->
    <section id="register-a" class="py-4">
      <div class="container">
        <h2 class="section-title"><span class="text-primary">Sign</span> Up</h2>
        <p class="lead">
          Create a free account
        </p>
        <%= render "form.html", Map.put(assigns, :action, Routes.auth_path(@conn, :register)) %>
      </div>
    </section>
    <!-- / End Section A -->
