<div class="">
  <p>Hello <%= @user.first_name %></p>
  <p>please confirm your email <%= @user.email %> with the link below</p>

  <a href="http://localhost:4000/email-verify/<%= @token %>">Confirm your Email</a>

</div>
