#chat-page {
  display: flex;
  background: $light-color;
  //overflow: hidden;
  #chat-nav {
    //flex: 1;
    background: #fff;
    max-width: 5vw;
    height: 100vh;
    .chat-nav-logo {
      background: $secondary-color;
      padding: 1.1rem 0;
      text-align: center;
      margin-bottom: 2rem;
      a {
        color: #fff;
      }
    }
    .chat-nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: 85vh;
      font-size: 1.5rem;
      //background: $main-color;
      li {
        //border-bottom: 1px $secondary-color dotted;
        text-align: center;
        padding: 1rem;
        color: set-text-color($sec-fade-color);
        //margin-bottom: 0.5rem;

        i {
          color: #f53ba3;
        }
      }
    }
  }

  .chat-container-menu-ellipsis {
    display: none;
  }

  #chat-section {
    //flex: 18;
    min-width: 92vw;
    background: $light-color;
    height: 100vh;

    .chat-container {
      display: flex;
      padding: 1rem 2rem;

      &-online-users {
        background: #fff;
        flex: 1;
        height: 90vh;
        max-width: 360px;
        border-radius: 5px;
        //text-align: center;
        //padding: 1.3rem;
        overflow: hidden;

        form {
          padding: 0 1.3rem;
          .search-user {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            //margin-bottom: 1.3rem;
            //   &:focus {
            //     border: 1px $light-color solid;
            //   }
          }
        }
        .online-users-list {
          //   margin-bottom: 1.3rem;

          height: 76vh;
          overflow: scroll;
          .single-user-details {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 2px $border-bottom dotted;
            padding: 1.2rem 1.3rem;
            &:last-child {
              border-bottom: 0;
            }

            .user-propix {
              flex: 1;
              width: 43px;
              height: 43px;
              margin-right: 1rem;

              img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .user-details-text {
              //background: $light-color;
              flex: 5;
            }
          }
        }
      }
      &-area {
        background: $light-color;
        flex: 2;
        height: 90vh;
        padding: 0 2rem;
        overflow: hidden;
        position: relative;
        .chat-area-head {
          display: flex;
          align-items: center;
          padding-bottom: 1.2rem;
          border-bottom: 2px #e1e1e1 solid;
          .book-cover {
            flex: 1;
            min-width: 60px;
            height: 60px;
            margin-right: 1rem;

            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .book-details-text {
            flex: 9;
            text-transform: capitalize;
            font-weight: 900;
          }
          .menu-bar-icon {
            display: none;
          }
          // .chat-top-right-menu-icon {
          //   display: none;
          // }
        }
        .chat-area-body {
          margin: 1rem 0;
          height: 72vh;
          overflow-y: scroll;
          overflow-x: hidden;
          //border-bottom: 2px #e1e1e1 solid;
          .chat-fulldate {
            display: block;
            text-align: center;
            &-text {
              background: #f579b5;
              border-radius: 5px;
              padding: 0.4rem;
              font-size: 0.8rem;
              font-style: italic;
              text-transform: uppercase;
              color: $sec-fade-color;
            }
          }
          &-receiver {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-template-areas: "receiver . .";
            // grid-gap: 2rem;
            margin: 1rem 0;
            display: block;
            max-width: 80%;
            float: left;
            .msg-receiver {
              //grid-area: receiver;
              &-text {
                display: block;
                overflow-wrap: break-word;
                background: #fff;
                padding: 0.6rem 1rem;
                border-radius: 0 15px 15px 15px;
              }
            }
          }
          &-sender {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-template-areas: ". . sender";
            // grid-gap: 2rem;
            margin: 1rem 0;
            display: block;
            max-width: 80%;
            float: right;
            .msg-sender {
              //grid-area: sender;
              &-text {
                display: block;
                overflow-wrap: break-word;
                background: #cdcdcd;
                padding: 0.6rem 1rem;
                border-radius: 15px 15px 0 15px;
              }
            }
          }
        }
        .chat-area-input {
          position: absolute;
          bottom: 0;
          left: 0.5rem;
          right: 0.5rem;
          form {
            // background: $dark-color;
            width: 100%;
            border-radius: 5px;
            display: inline-block;
            line-height: 0;
            position: relative;
            textarea {
              width: 100%;
              height: 45px;
              outline: none;
              border: none;
              border-radius: 5px;
              padding-right: 42px;
              &:focus {
                outline: none;
              }
            }
            .send-btn {
              display: inline-block;
              position: absolute;
              top: 0;
              right: 0;
              width: 40px;
              height: 45px;
              background: $dark-color;
              color: $light-color;
              //border-radius: 50%;
              border: none;
              box-shadow: none;

              margin: 0;
              padding: 0;
              outline: 0;
              border: 0;
              color: #f4f4f4;
              cursor: pointer;
              border-radius: 0 5px 5px 0;

              &:focus {
                box-shadow: none;
                border: none;
                outline: none;
              }

              .fa {
                font-size: 1.5rem;
              }
            }
          }
        }

        .chat-container-online-users-sm {
          display: none;
        }

        .chat-container-bookdetails-sm {
          display: none;
        }
      }
      &-bookdetails {
        background: #fff;
        flex: 1;
        height: 90vh;
        max-width: 360px;
        border-radius: 5px;
        //padding: 1.3rem;
        overflow: hidden;
        .book-chat-anchor {
          text-align: center;
          border-bottom: 1px #e1e1e1 solid;
          padding-bottom: 1rem;
          &-img {
            display: inline-block;
            width: 100px;
            height: 100px;
            //border-radius: 50%;
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &-det {
            font-size: 1.25rem;
          }
        }
        .book-chat-topics {
          &-head {
            font-size: 1.1rem;
            font-weight: 600;
            //margin-top: 1rem;
            padding: 1.3rem;
          }
          &-list {
            height: 40vh;
            overflow: scroll;
            li {
              border-bottom: 2px $border-bottom dotted;
              padding: 1rem 1.3rem;
              &:last-child {
                border-bottom: 0;
              }
            }
            .list-0 {
              color: #818182;
            }

            .list-1 {
              color: #155724;
              border-left: 2px $main-color solid;
            }
            .list-2 {
              color: #721c24;
            }
            %list-topic-shared {
              font-size: 0.8rem;
              display: block;
              text-align: right;
              font-weight: bolder;
            }
            .list-0:after {
              content: "coming soon";
              color: orange;
              @extend %list-topic-shared;
            }
            .list-1:after {
              content: "on-going";
              color: green;
              @extend %list-topic-shared;
            }
            .list-2:after {
              content: "done";
              color: red;
              @extend %list-topic-shared;
            }
          }
        }
      }
    }
  }
}
