.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

hr {
  margin: 1.5rem 0;
}

//Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  cursor: pointer;
  //border-radius: 5px;
  text-decoration: none !important;
  box-shadow: none;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $main-color;
  }
  &-sec {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: #3a4155;
  }
  &-lighten {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
  &-profile {
    @extend %btn-shared;
    //color: black
    border-radius: 50%;
    //background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    border: 2px solid $main-color;
  }

  &-join {
    @extend %btn-shared;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    border: 1px solid $main-color;
    font-size: 0.8rem;
    font-weight: bold;
  }

  &-small {
    @extend %btn-shared;
    //color: black
    border-radius: 5px;
    //background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    border: 1px solid $main-color;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: set-btn-hover-color($light-color);
  color: set-text-color($light-color);
  box-shadow: none;
  outline: none;
  z-index: 0;
}

button[class^="btn-"]:focus,
a[class^="btn-"]:focus,
input[class^="btn-"]:focus {
  box-shadow: none;
  outline: none;
}

//Backgrouds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-lighten {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-trans-cap {
  text-transform: capitalize;
}

.last-breadcrumb {
  a {
    color: $main-color;
  }
}

.parent-sub-menu {
  .nav-sub-menu {
    display: none;
  }

  &:hover ul {
    display: block;
    background: $sec-fade-color;
  }
}

.text-center {
  text-align: center;
}

form {
  input,
  select,
  textarea {
    border: 1px $light-color solid;
    padding: 12px;
    font-size: 1rem;
    height: 50px;
  }

  textarea {
    height: 100px;
  }

  span {
    display: inline-block;
  }

  // select[multiple] {
  //   border-style: inset;
  //   -moz-appearance: menulist;
  //   -webkit-appearance: menulist;
  //   appearance: menulist;
  // }

  label {
    display: block;
    font-size: 1.1rem;
    color: $sec-fade-color;
  }
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px $main-color solid;
}

//Padding
.py {
  &-1 {
    padding: 1rem 0 !important;
  }
  &-2 {
    padding: 2rem 0 !important;
  }
  &-3 {
    padding: 3rem 0 !important;
  }
  &-4 {
    padding: 4rem 0 !important;
  }
}

//Margin
.my {
  &-1 {
    margin: 1rem 0 !important;
  }
  &-2 {
    margin: 2rem 0 !important;
  }
  &-3 {
    margin: 3rem 0 !important;
  }
  &-4 {
    margin: 4rem 0 !important;
  }
}

%overlay {
  background-color: $overlay-color;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.text-primary {
  color: $main-color !important;
}

//Alert pop up
%pop-shared {
  //width: 100%;
  padding: 0.7rem 3rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.pop {
  &-info {
    @extend %pop-shared;
    color: #0c5460;
    background-color: #d1ecf1;
  }
  &-error {
    @extend %pop-shared;
    color: #721c24;
    background-color: #f8d7da;
  }
}

//Badge

%badge-shared {
  //width: 20px;
  //height: 5px;
  padding: 0.06rem 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
  font-size: 0.9rem;
  font-weight: 100;
}

.badge {
  &-public {
    @extend %badge-shared;
    color: #155724;
    background-color: #d4edda;
  }
  &-private {
    @extend %badge-shared;
    color: #721c24;
    background-color: #f8d7da;
  }
}

.sidebar-cat-text {
  font-weight: 700;
  margin-right: 2rem;
}

.section-title,
.section-title-dash {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
}

// Star Color
.fill,
.nofill,
.half-fill {
  color: $star-color;
}
.review-text {
  display: block;
  font-size: 0.8rem;
  padding: 0;
}

// .star-container {
//   display: inline-block;
//   //background: $star-color;
//   //color: $star-color;
//   //position: relative;
//   //width: 1rem;
//   height: 1.5rem;
// }
// %star-shared {
//   display: inline-block;
//   color: $star-color;
//   overflow: hidden;
//   font-size: 1rem;
//   height: 100%;
// }
// .star {
//   &-full {
//     @extend %star-shared;
//     width: 100%;
//   }
//   &-half {
//     @extend %star-shared;
//     width: 50%;
//   }
// }

.form-control:focus {
  outline: none;
  border-color: $main-color !important;
  box-shadow: none;
}

.paginate-links {
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
      a {
        border-radius: 0;
        padding: 0.6rem 1rem;
        margin: auto 0.1rem;
        border: rgba(0, 0, 0, 0.1) 0.5px solid;
        &:hover,
        &.current {
          background-color: $main-color;
          color: $light-color;
        }
      }
    }
  }
}

.sorting {
  button {
    padding: 0.4rem 1rem;
  }
}

.book-sidebar-heading {
  h3 {
    color: #444444;
    font-weight: bolder;

    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
  }
}
.book-sidebar-content {
  background: $light-color;
  padding: 1rem;
  border-radius: 5px;
}

// Dashboard
.dashboard-content-hr-grp {
  display: flex;
  justify-content: space-between;
  //align-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard-content-header {
  color: $sec-fade-color;
  text-transform: capitalize;
  font-size: 24px;
  margin: 0 1rem 1rem 0;
}
.dashboard-main-section-content {
  margin: 2rem;
  padding: 2rem;
  background: $light-color;
  box-shadow: 2px 3px 5px 0.5px rgba(0, 0, 0, 0.2);
  min-height: 85vh;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  //text-align: center;
  //position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
  //margin: 1rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1rem;
  height: 3rem;
}

th {
  background-color: $sec-fade-color;
  color: white;
}

tr:nth-child(even) {
  background-color: $light-color;
}

.form-error,
.help-block {
  color: #ff0000;
  font-size: 0.9rem;
}

// Chat
// .chat-head-section {
//   margin-bottom: 1.3rem;
// }
.chat-head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-bottom: 1.3rem;
  padding: 1.3rem;

  .details-close-btn {
    background: $medium-color;
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    .fa {
      font-size: 1.1rem;
    }
  }
}

.msg-chat-time {
  font-size: 0.7rem;
  text-align: right;
}
.msg-receiver-name {
  font-size: 0.8rem;
}

.clear-flt {
  clear: both;
}

.top_right-menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: -70px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
  //background: #9b3838;
  //font-size: 2rem;
  //cursor: pointer;

  span {
    display: block;
    width: 2rem;
    height: 3px;
    background: #262626;
    position: absolute;
    top: 24px;
    transition: 0.3s;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #262626;
      transition: 0.3s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #262626;
      transition: 0.3s;
    }
  }
}
.toggle {
  right: -5px;
  span {
    background: transparent;

    &:before {
      top: 0;
      transform: rotate(45deg);
      background: #ffffff;
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
      background: #ffffff;
    }
  }
}

.book_cover {
  height: 50px;
  width: 50px;
  //border-radius: 50%;
  object-fit: contain;
}
.read-title {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
}

%stats-shared {
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

.stats {
  &-active {
    @extend %stats-shared;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  &-not-active {
    @extend %stats-shared;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}
.flash-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

//   .bottom-line {
//     height: 2px;
//     width: 3rem;
//     background: $main-color;
//     display: block;
//     margin: 0 auto 1rem auto;
//   }

// :root {
//   --star-size: 60px;
//   --star-color: #f4f4f4;
//   --star-background: #fc0;
// }

// .stars {
//   --percent: calc(var(--rating) / 5 * 100%);

//   display: inline-block;
//   font-size: var(--star-size);
//   font-family: Times; // make sure ★ appears correctly
//   line-height: 1;

//   &::before {
//     content: "★★★★★";
//     letter-spacing: 3px;
//     background: linear-gradient(
//       90deg,
//       var(--star-background) var(--percent),
//       var(--star-color) var(--percent)
//     );
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     //background-clip: text;
//   }
// }

// Just to make a preview more beautifull

// body {
//   background: #eee;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

// * {
//   position: relative;
//   box-sizing: border-box;
// }

.stars {
  $percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: $star-size;
  line-height: 1;

  &:before {
    content: "★★★★★";
    //letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      $star-color $percent,
      $star-background $percent
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.added_by {
  font-size: 0.9rem;
}

%empty-state-shared {
  height: 65vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.empty-book {
  @extend %empty-state-shared;
  //background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23f53ba3' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");

  svg {
    width: 20rem;
    //stroke: #242c42;
    // path {
    //   fill: red;
    // }
  }
}
.empty-book-text {
  height: 5vh;
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem;

  .btn {
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
  }
}

.empty-chat {
  @extend %empty-state-shared;
  svg {
    width: 20rem;
  }
}

.empty-chat-text {
  //height: 5vh;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}

.chat-top-right-menu-icon {
  display: block;
  //position: absolute;
  // top: 0;
  // right: -70px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
  //background: #9b3838;
  //font-size: 2rem;
  //cursor: pointer;

  span {
    display: block;
    width: 2rem;
    height: 3px;
    background: #262626;
    position: absolute;
    top: 24px;
    transition: 0.3s;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #262626;
      transition: 0.3s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 3px;
      background: #262626;
      transition: 0.3s;
    }
  }
}
.chat-toggle {
  //right: -5px;
  span {
    background: transparent;

    &:before {
      top: 0;
      transform: rotate(45deg);
      //background: #ffffff;
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
      //background: #ffffff;
    }
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.drop-acc-li {
  position: relative;
  animation: flipdown 0.5s ease both;

  .angle-icon {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 0.7rem;
    right: 0;

    &:before,
    &:after {
      content: "";
      transition: all 0.25s ease-in-out;
      position: absolute;
      background-color: #f53ba3;
      width: 3px;
      height: 9px;
    }

    &:before {
      transform: translate(-2px, 0) rotate(45deg);
    }

    &:after {
      transform: translate(2px, 0) rotate(-45deg);
    }
  }

  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 20px;
    z-index: 1;
    opacity: 0;

    & ~ ul {
      margin-left: 2rem;
      display: block;
      li {
        //margin-top: 2rem;
        a {
          font-size: 0.9rem;
        }
        &:hover {
          a {
            color: $main-color !important;
          }
        }
      }
    }

    &:checked {
      & ~ ul {
        margin-top: 0;
        max-height: 0;
        //opacity: 0;
        display: none;
        transform: translate(0, 50%);

        li:hover {
          a {
            color: $main-color;
          }
        }
      }

      & ~ i {
        &:before {
          transform: translate(2px, 0) rotate(45deg);
        }

        &:after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }
}

.not-found {
  margin: 4rem;
  svg {
    width: 100%;
    height: 60vh;
    //stroke: #fff;
    path {
      //fill: $main-color;
      stroke: none;
    }
  }
  &-text {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem;
  }
}

.server-error {
  margin: 4rem;
  svg {
    width: 100%;
    height: 60vh;
    //stroke: #fff;
    path {
      //fill: $main-color;
      stroke: none;
    }
  }
  &-text {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem;
  }
}

.waiting-list {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  color: #721c24;
}
.center-div {
  margin-top: 1.5rem;
  color: #721c24;
  font-style: italic;
  text-align: center;
}

//Dashboard home Stats cards
%cards-shared {
  flex: 1;
  height: 200px;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  hr {
    width: 60%;
    margin: 0.5rem 0;
  }
  i {
    position: absolute;
    top: 0;
    left: 0;
    //background: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    //color: $main-color;
    border-radius: 50%;
    text-align: right;
    // height: 70px;
    // width: 70px;
    //line-height: 60px;
  }
}

.dashboard-cards-books {
  @extend %cards-shared;
  background-color: #d1ecf1;
  color: #0c5460;
}
.dashboard-cards-joined {
  @extend %cards-shared;
  background-color: #d4edda;
  color: #155724;
}
.dashboard-cards-readers {
  @extend %cards-shared;
  background-color: #cce5ff;
  color: #004085;
}
