<div class="dashboard-main-section-content">
          <h3 class="dashboard-content-header">Add Topic</h3>
          <div class="dashboard-addbook">
            <div class="field">
<%= render "topicform.html", Map.put(assigns, :action, Routes.user_path(@conn, :createtopic, @slug)) %>
</div>
</div>
</div>
