
  <h3 class="dashboard-content-header">Edit Profile</h3>
    <div class="dashboard-addbook">
      <div class="field">
      <%= render "profileform.html", Map.put(assigns, :action, Routes.user_path(@conn, :updateprofile)) %>
      </div>
    </div>
