<div class="dashboard-main-section-content">
          <h3 class="dashboard-content-header">Edit Book</h3>
          <div class="dashboard-addbook">
            <div class="field">
<%= render "bookform.html", Map.put(assigns, :action, Routes.user_path(@conn, :updatebook, @book)) %>
</div>
</div>
</div>

