<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :send_message, autocomplete: :off, id: :chatareaform] %>
  <%= textarea f, :message, placeholder: "Enter message", id: "chat-area-input", autofocus: "",
  spellcheck: "true", aria_autocomplete: "both", aria_label: "Message" %>

  <%= submit phx_disable_with: "Loading...", class: "send-btn" do %>
    <i class="fa fa-send"></i>
  <% end %>
</form>
