<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Fontawesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Google Font -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Catamaran&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- /End Google Font -->

    <!-- Bootstrap css-->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->

    <!-- / End Bootstrap -->

    <!-- Style CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/home/css/main.min.css") %>" />
    <title>Bookclub</title>
  </head>
  <body>

    <!-- Nav -->
    <nav id="main-nav">
      <!-- <img src="img/logo.png" alt="My Portfolio" id="logo" /> -->
      <h1 class="logo">
        <%= link to: Routes.home_path(@conn, :index) do %>
          <span class="text-primary">My</span>Logo
        <% end %>
      </h1>
      <ul class="main-nav-menu">
        <li>
          <%= link "Home", to: Routes.home_path(@conn, :index),  class: if @conn.request_path == "/", do: "current", else: "" %>
        </li>
        <li>
          <%= link "Books", to: Routes.home_path(@conn, :books), class: if @conn.request_path == "/books" or @conn.request_path == "/book/:slug", do: "current", else: "" %>
        </li>
        <li>
          <%= link "Contact", to: Routes.home_path(@conn, :contact), class: if @conn.request_path == "/contact", do: "current", else: "" %>
        </li>
        <%= if @conn.assigns[:user] do %>
        <li><%= link "Dashboard", to: Routes.user_path(@conn, :index) %></li>
        <% end %>
        <li class="parent-sub-menu">
          <a href="#">Account</a> <i class="fa fa-angle-down"></i>
          <ul class="nav-sub-menu">
            <%= if @conn.assigns[:user] do %>
            <li>
              <%= link "Dashboard", to: Routes.user_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Logout", to: Routes.auth_path(@conn, :delete), method: :delete %>
            </li>
            <% else %>

            <li>
              <%= link "Login", to: Routes.auth_path(@conn, :loginform) %>
            </li>
            <li>
              <%= link "Sign Up", to: Routes.auth_path(@conn, :registerform) %>
            </li>
            <% end %>

          </ul>
        </li>
      </ul>
      <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><%= link "Home", to: Routes.home_path(@conn, :index), class: "current" %></li>
                <li><%= link "Books", to: Routes.home_path(@conn, :books) %></li>
                <li>
                  <%= link "Contact", to: Routes.home_path(@conn, :contact) %>
                </li>
                <%= if @conn.assigns[:user] do %>
                <li><%= link "Dashboard", to: Routes.user_path(@conn, :index) %></li>
                <% end %>
                <li class="parent-sub-menu">
                  <a href="#">Account</a> <i class="fa fa-angle-down"></i>
                  <ul class="nav-sub-menu">
                    <%= if @conn.assigns[:user] do %>
                    <li>
                      <%= link "Dashboard", to: Routes.user_path(@conn, :index) %>
                    </li>
                    <li>
                      <%= link "Logout", to: Routes.auth_path(@conn, :delete), method: :delete %>
                    </li>
                    <% else %>

                    <li>
                      <%= link "Login", to: Routes.auth_path(@conn, :loginform) %>
                    </li>
                    <li>
                      <%= link "Sign Up", to: Routes.auth_path(@conn, :registerform) %>
                    </li>
                    <% end %>

                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Nav -->


    <%= render @view_module, @view_template, assigns %>

    <!-- Footer -->
    <footer id="main-footer" class="py-4">
      <div class="footer-content container">
        <div>
          <h2>Lorem ipsum dolor sit.</h2>
          <a href="www.twitter.com">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a href="www.facebook.com">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          <a href="www.youtube.com">
            <i class="fa fa-youtube fa-2x"></i>
          </a>
        </div>
        <div>
          <h3>Company Info</h3>
          <ul>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i>All Product</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i>About Us</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i>Privacy Policy</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i>Terms Of Service</a>
            </li>
          </ul>
        </div>
        <div>
          <h3>Blog Posts</h3>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit.</a></li>
            <li><a href="#">Lorem ipsum dolor sit.</a></li>
            <li><a href="#">Lorem ipsum dolor sit.</a></li>
            <li><a href="#">Lorem ipsum dolor sit.</a></li>
          </ul>
        </div>
        <div>
          <h3>Subscribe</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <form name="email-form" method="POST">
            <div class="email-form">
              <span class="form-control-wrap">
                <input
                  type="email"
                  name="email"
                  id="email"
                  size="40"
                  class="form-sub"
                  placeholder="Email"
                />
              </span>
              <button type="submit" class="form-sub submit">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </footer>
    <!-- /End Footer -->

    <!-- Bootstrap Js -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="js/bootstrap.min.js"></script> -->
    <!-- /End Bootstrap Js -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/script.js") %>"></script>
  </body>
</html>
