<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Fontawesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- /End Google Font -->

    <!-- Bootstrap css-->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->

    <!-- / End Bootstrap -->

    <!-- Style CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/home/css/main.min.css") %>" />
    <title>Bookclub: Chat</title>
  </head>
  <body>
<main id="chat-page">
  <!-- Nav -->
  <nav id="chat-nav">
    <!-- <img src="img/logo.png" alt="My Portfolio" id="logo" /> -->
    <div class="chat-nav-logo">
      <h1 class="logo">
        <%= link "WR", to: Routes.home_path(@conn, :index) %>
      </h1>
    </div>

    <ul class="chat-nav-menu">
      <div class="chat-nav-menu-up">
        <li>
          <%= link to: Routes.user_path(@conn, :index) do %>
          <i class="fa fa-dashboard"></i>
          <% end %>
        </li>
        <li>
          <a id="online-users-show" class="current"
            ><i class="fa fa-users"></i
          ></a>
        </li>
        <li>
          <a id="book-details-show" class="current"
            ><i class="fa fa-book"></i
          ></a>
        </li>

      </div>

      <div class="chat-nav-menu-down">
        <li>
          <a href="#" class="current"
            ><i class="fa fa-pencil"></i
          ></a>
        </li>
        <li>
          <a href="#" class="current"
            ><i class="fa fa-gears"></i
          ></a>
        </li>
        <li>
          <%= link to: Routes.auth_path(@conn, :delete), method: :delete do %>
          <i class="fa fa-power-off"></i>
          <% end %>
        </li>
      </div>
    </ul>
  </nav>

  <div class="chat-container-menu-ellipsis">
    <div class="chat-head-section">
      <div class="details-close-btn" id="menu-ellipsis-close">
        <i class="fa fa-close"></i>
      </div>
    </div>

    <ul>
      <li><%= link "Home", to: Routes.home_path(@conn, :index) %></li>
      <li><%= link "Dashboard", to: Routes.user_path(@conn, :index) %></li>
      <li><%= link "Log out", to: Routes.auth_path(@conn, :delete), method: :delete %></li>
    </ul>
  </div>
  <!-- / End Nav -->
    <%= render @view_module, @view_template, assigns %>

</main>
<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script> -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
