<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Fontawesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- /End Google Font -->

    <!-- Bootstrap css-->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->

    <!-- / End Bootstrap -->

    <!-- Style CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/home/css/main.min.css") %>" />
    <title>Bookclub: Chat</title>
  </head>
  <body>
<main id="chat-page">
  <!-- Nav -->
  <nav id="chat-nav">
    <!-- <img src="img/logo.png" alt="My Portfolio" id="logo" /> -->
    <div class="chat-nav-logo">
      <h1 class="logo"><a href="index.html">Logo</a></h1>
    </div>

    <ul class="chat-nav-menu">
      <div class="chat-nav-menu-up">
        <li>
          <a href="index.html" class="current"
            ><i class="fa fa-user-o"></i
          ></a>
        </li>
        <li>
          <a href="index.html" class="current"
            ><i class="fa fa-comment-o"></i
          ></a>
        </li>
        <li>
          <a href="index.html" class="current"
            ><i class="fa fa-star-o"></i
          ></a>
        </li>
      </div>

      <div class="chat-nav-menu-down">
        <li>
          <a href="index.html" class="current"
            ><i class="fa fa-pencil"></i
          ></a>
        </li>
        <li>
          <a href="index.html" class="current"
            ><i class="fa fa-gears"></i
          ></a>
        </li>
        <li>
          <%= link to: Routes.auth_path(@conn, :delete), method: :delete do %>
          <i class="fa fa-power-off"></i>
          <% end %>
        </li>
      </div>
    </ul>
  </nav>
  <!-- / End Nav -->
    <%= render @view_module, @view_template, assigns %>

</main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
