<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soho - Chat and Discussion Platform</title>

    <!-- Favicon -->
    <link rel="icon" href="<%= Routes.static_path(@conn, "/chat/dist/media/img/favicon.png") %>" type="image/png">
    <!-- Soho css -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/chat/dist/css/soho.min.css") %>">
</head>

<!--/ HEADER-->
<body>

      <%= render @view_module, @view_template, assigns %>

<!-- JQuery -->
<script src="<%= Routes.static_path(@conn, "/chat/vendor/jquery-3.4.1.min.js") %>"></script>

<script src="<%= Routes.static_path(@conn, "/chat/vendor/popper.min.js") %>"></script>

<script src="<%= Routes.static_path(@conn, "/chat/vendor/bootstrap/bootstrap.min.js") %>"></script>


<!-- Nicescroll -->
<script src="<%= Routes.static_path(@conn, "/chat/vendor/jquery.nicescroll.min.js") %>"></script>

<!-- Soho -->
<script src="<%= Routes.static_path(@conn, "/chat/dist/js/soho.min.js") %>"></script>

<!-- Examples -->
<script src="<%= Routes.static_path(@conn, "/chat/dist/js/examples.js") %>"></script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
