<html>
  <head>
    <link rel="stylesheet" href="<%= Routes.static_path(BookclubWeb.Endpoint, "/home/css/main.min.css") %>" />
    <title>Email temp</title>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
