<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Fontawesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Google Font -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Catamaran&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- /End Google Font -->

    <!-- Style CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/home/css/main.min.css") %>" />
    <title>Bookclub: Dashboard</title>
  </head>
  <body>
    <main id="dashboard-main">
      <!-- Sidebar -->
      <aside id="dashboard-main-aside">
        <ul class="main-aside-ul">
          <li class="main-aside-li">
            <%= link to: Routes.user_path(@conn, :index) do %>
            <i class="fa fa-dashboard"></i>Dashboard
            <% end %>
          </li>
          <!-- <a href="managebook.html"
            > -->
          <li class="main-aside-li drop-acc-li">
            <input type="checkbox" checked>
            <i class="fa fa-book"></i>Books
            <!-- <i class="fa fa-angle-down"></i> -->

            <i class="angle-icon"></i>
            <ul>
              <li>
                <%= link "Manage Books", to: Routes.user_path(@conn, :managebooks) %>
              </li>
              <li>
                <%= link "Add Book", to: Routes.user_path(@conn, :addbook) %>
              </li>

              <li>
                <%= link "Joined List", to: Routes.user_path(@conn, :joinedlist) %>
              </li>

            </ul>
          </li>

          <li class="main-aside-li">
            <%= link to: Routes.user_path(@conn, :profile, @conn.assigns.user.username) do %>
            <i class="fa fa-user"></i>Profile
            <% end %>
          </li>

          <li class="main-aside-li">
            <%= link to: Routes.auth_path(@conn, :delete), method: :delete do %>
            <i class="fa fa-power-off"></i>Log out
            <% end %>
          </li>
        </ul>
            <div id="dash-bar" class="top_right-menu-icon">
            <%# <span id="dash-bar"><i id="dash-icon-id" class="fa fa-bars fa-2x" aria-hidden="true"></i></span> %>
            <span></span>
            </div>
      </aside>
      <!-- End Sidebar -->

      <!-- Section A: Dashboard Home -->
      <section id="dashboard-main-section">
        <nav id="dashboard-main-nav">
          <div class="header_top">

            <div class="top_left">
              <div class="nav-img">
                <img src="<%= Routes.static_path(@conn,"/images/profiles/" <> @user.propix) %>" alt="proimage" />
              </div>
              <!-- <form action="">
                <button type="submit" class="">Log Out</button>
              </form> -->

            </div>
             <div class="top_right">
              <ul>
                <li>
                  <%= link "Home", to: Routes.home_path(@conn, :index) %>
                </li>
                |
                <li>
                  <%= link "Books", to: Routes.home_path(@conn, :books) %>
                </li>
                |
                <li>
                  <%= link "Contact", to: Routes.home_path(@conn, :contact) %>
                </li>
              </ul>
              <div class="clear-flt"></div>
            </div>

          </div>
        </nav>
        <div class="dashboard-main-section-content">
          <%= render BookclubWeb.MsgView, "msg.html", conn: @conn %>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </section>
    </main>
    <!-- / End Section A -->

    <!-- Bootstrap Js -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/script.js") %>"></script>
  </body>
</html>
